.icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}

.icons li a {
  transition: all 0.8s;
}

.icons li a:hover {
  transform: scale(1.2);
  color: red;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .social-links {
    margin-top: 20px;
  }

  .icons {
    justify-content: center;
  }
}
